.cart-modal {
    width: 1500px; /* Adjust the width as needed */
  }
  

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    font-size: 18px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  