<mat-toolbar color="primary">
<div>      
  <a routerLink="/"><mat-icon>import_contacts</mat-icon> Booking</a>
</div>

<div fxFlex fxLayoutAlign="end" fxLayoutGap ="15px">
  <a *ngIf="!hasToken()" routerLink="/signup">Sign up</a>
  <a *ngIf="!hasToken()" routerLink="/login">Login</a>
  <a *ngIf="hasToken()" routerLink="/profile">Profile</a>
  <a routerLink="/cart">Cart</a>
  
  <a *ngIf="hasToken()" (click)="openLogoutDialog()">Log out</a>
</div>
</mat-toolbar>


<router-outlet></router-outlet>



